@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@1&display=swap');
body {
	background-image: url(https://images.pexels.com/photos/1366957/pexels-photo-1366957.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	background-position: center;
}
section {
	font-family: 'IBM Plex Mono', monospace;
	color: white;
	
}
div {
	padding: 20px;
	width: 33%;
	margin: auto;
	text-align: center;
	z-index: 1;
}
div:before {
	content: "";
    top: 0;
    left: 33%;
    width: 33%;
    height: 180%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    z-index: -10;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 28px;
}
p {
	font-size: 22px;
}
